<div class="container">
  <h1 class="text-center"></h1>
  <table class="table table-hover ">
    <thead class="thead-light">
    <tr>
      <th class="text-center">№</th>
      <th class="text-center">Товар</th>
      <th class="text-center">Сотрудник</th>
      <th class="text-center">Склад</th>
      <th class="text-center">Поставщик</th>
      <th class="text-center">Количество</th>
      <th class="text-center">Дата</th>
      <th class="text-center">Изменить</th>
      <th class="text-center">Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let supply of supplies; let i=index">
      <td class="text-center">{{i+1}}</td>
      <td class="text-center">{{ supply.product_id.name}}</td>
      <td class="text-center">{{ supply.worker_id.first_name + ' ' + supply.worker_id.last_name}}</td>
      <td class="text-center">{{ supply.stock_id.name}}</td>
      <td class="text_center">{{ supply.partner_id.name}}</td>
      <td class="text-center">{{ supply.quantity}}</td>
      <td class="text-center">{{ supply.date}}</td>
      <td class="text-center"><a (click)="open_modal(template, supply.id)" class="btn"><img
          src="https://image.flaticon.com/icons/svg/282/282091.svg" alt="edit"
          style="width: 30px; height: 30px;"></a>
      </td>
      <td class="text-center"><a (click)="delete_supply(supply.id)" class="btn"><img
          src="https://image.flaticon.com/icons/svg/282/282080.svg" alt="delete"
          style="width: 30px; height: 30px;"></a>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #template>
    <div class="modal-header">
      <h5>Редактирование</h5>
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <form [formGroup]="SupplyForm" role="form" class="form-group" novalidate>

        <div class="col">
          <div class="form-group">
            <label class="control-label" for="product_id">Продукт</label>
            <input formControlName="product_id" class="form-control product_id"
                   [ngModel]="sup.product_id.name"
                   [value]="sup.product_id.name" type="text" #product_id id="product_id">

          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="control-label" for="worker_id">Ответственный</label>
            <select formControlName="worker_id" class="form-control worker_id" id="worker_id"
                    [(ngModel)]="worker_id">
              <option *ngFor="let worker of users" [value]="worker.id">
                {{worker.first_name+" "+worker.last_name}}
              </option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="control-label" for="stock_id">Склад</label>
            <select formControlName="stock_id" class="form-control stock_id" id="stock_id"
                    [(ngModel)]="stock_id">
              <option *ngFor="let stock of stocks" [value]="stock.id">
                {{stock.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="control-label" for="partner_id">Поставщик</label>
            <input formControlName="partner_id" class="form-control partner_id"
                   [ngModel]="sup.partner_id.name"
                   [value]="sup.partner_id.name" type="text" #partner_id id="partner_id">

          </div>

        </div>

        <div class="col">
          <div class="form-group">
            <label class="control-label" for="quantity">Количество</label>
            <input formControlName="quantity" class="form-control quantity"
                   [(ngModel)]="sup.quantity"
                   [value]="sup.quantity" type="text" #quantity id="quantity">
          </div>
          <div *ngFor="let validation of account_validation_messages.quantity">
            <div class="alert alert-danger" *ngIf="SupplyForm.get('quantity').hasError(validation.type) &&
                                                   (SupplyForm.get('quantity').dirty ||
                                                   SupplyForm.get('quantity').touched)">
              {{validation.message}}
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="control-label" for="date">Дата</label>
            <input formControlName="date" class="form-control date" [(ngModel)]="sup.date"
                   [value]="sup.date" type="date" #date id="date">
          </div>
          <div *ngFor="let validation of account_validation_messages.date">
            <div class="alert alert-danger" *ngIf="SupplyForm.get('date').hasError(validation.type) &&
                                                       (SupplyForm.get('date').dirty ||
                                                       SupplyForm.get('date').touched)">
              {{validation.message}}
            </div>
          </div>
        </div>

      </form>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Отменить</button>
      <button [disabled]="SupplyForm.status == 'INVALID'" type="button" class="btn btn-primary"
              (click)="save(sup.product_id.id, worker_id, stock_id, sup.partner_id.id, quantity.value, date.value, sup.id)">
        Сохранить
      </button>
    </div>
  </ng-template>

</div>