<div class="container">

    <h4 class="text-center m-5">Добавление пользователя</h4>

    <form [formGroup]="UserForm" role="form" class="form-group">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="first_name">Имя</label>
                    <input formControlName="first_name" class="form-control first_name" type="text" #first_name>
                </div>
                <div *ngFor="let validation of account_validation_messages.first_name">
                    <div class="alert alert-danger" *ngIf="UserForm.get('first_name').hasError(validation.type) &&
                               (UserForm.get('first_name').dirty ||
                               UserForm.get('first_name').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="last_name">Фамилия</label>
                    <input formControlName="last_name" class="form-control last_name" type="text" #last_name>
                </div>
                <div *ngFor="let validation of account_validation_messages.last_name">
                    <div class="alert alert-danger" *ngIf="UserForm.get('last_name').hasError(validation.type) &&
                                   (UserForm.get('last_name').dirty ||
                                   UserForm.get('last_name').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="role">Роль</label>
                    <select class="form-control" name="role" id="role" [(ngModel)]="role"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let role of roles" [value]="role.name">
                            {{role.name}}
                        </option>
                    </select>
                </div>
                <div *ngIf="UserForm.controls['role'].invalid && (UserForm.controls['role'].dirty || UserForm.controls['role'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="UserForm.controls['role'].errors.required">
                        Заполните данное поле!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="phone_number">Телефон</label>
                    <input formControlName="phone_number" class="form-control phone_number" type="text" #phone_number>
                </div>
                <div *ngFor="let validation of account_validation_messages.phone_number">
                    <div class="alert alert-danger" *ngIf="UserForm.get('phone_number').hasError(validation.type) &&
                                       (UserForm.get('phone_number').dirty ||
                                       UserForm.get('phone_number').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="last_name">Email</label>
                    <input formControlName="email" class="form-control email" type="email" #email>
                </div>
                <div *ngFor="let validation of account_validation_messages.email">
                    <div class="alert alert-danger" *ngIf="UserForm.get('email').hasError(validation.type) &&
                                           (UserForm.get('email').dirty ||
                                           UserForm.get('email').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="password">Пароль</label>
                    <input formControlName="password" class="form-control password" type="password" #password>
                </div>
                <div *ngFor="let validation of account_validation_messages.password">
                    <div class="alert alert-danger" *ngIf="UserForm.get('password').hasError(validation.type) &&
                                               (UserForm.get('password').dirty ||
                                               UserForm.get('password').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="position">Должность</label>
                    <input formControlName="position" class="form-control position" type="position" #position>
                </div>
                <div *ngFor="let validation of account_validation_messages.position">
                    <div class="alert alert-danger" *ngIf="UserForm.get('position').hasError(validation.type) &&
                                                   (UserForm.get('position').dirty ||
                                                   UserForm.get('position').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group justify-content-center align-items-center text-center">
            <button
                (click)="add_user(first_name.value, last_name.value, email.value, password.value, role, phone_number.value, position.value)"
                class="btn btn-primary">
                Добавить
            </button>   
        </div>

    </form>

</div>