<div class="container">

    <h4 class="text-center m-5">Добавление партнера</h4>

    <form [formGroup]="PartnerForm" type="form" class="form-group" novalidate>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="name">Название</label>
                    <input formControlName="name" class="form-control name" type="text" #name>
                </div>
                <!-- <div *ngFor="let validation of account_validation_messages.name">
                        <div class="alert alert-danger" *ngIf="PartnerForm.get('name').hasError(validation.type) &&
                                   (PartnerForm.get('name').dirty ||
                                   PartnerForm.get('name').touched)">
                            {{validation.message}}
                        </div>
                    </div> -->
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="role">Роль</label>
                    <select class="form-control" name="role" id="role" [(ngModel)]="role"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let role of roles" [value]="role.name">
                            {{role.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="address">Юридический адрес</label>
                    <input formControlName="address" class="form-control address" type="text" #address>
                </div>
                <!-- <div *ngFor="let validation of account_validation_messages.price">
                        <div class="alert alert-danger" *ngIf="PartnerForm.get('price').hasError(validation.type) &&
                                       (PartnerForm.get('price').dirty ||
                                       PartnerForm.get('price').touched)">
                            {{validation.message}}
                        </div>
                    </div> -->
            </div>

        </div>

        <div class="form-group justify-content-center align-items-center text-center">
            <button (click)="add_partner(name.value, role, address.value)" class="btn btn-primary">
                Добавить
            </button>
        </div>

    </form>

</div>