<div class="container">
    <form [formGroup]="ChartForm" type="form" class="form-group" novalidate>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="start_date">Дата начала:</label>
                    <input formControlName="start_date" class="form-control start_date" type="date" name="start_date"
                        id="start_date">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="end_date">Дата конца:</label>
                    <input formControlName="end_date" class="form-control end_date" type="date" name="end_date"
                        id="end_date">
                </div>
            </div>
        </div>
    </form>
    <div class="form-group justify-content-center align-items-center text-center">
        <button (click)="get_data(start_date.value, end_date.value)" class="btn btn-primary">
            Построить график
        </button>
    </div>
    <div class="chart-wrapper">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>