<div class="container">
    <h1 class="text-center"></h1>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Название</th>
                <th class="text-center">Тип</th>
                <th class="text-center">Адрес</th>
                <th class="text-center">Вместимость</th>
                <th class="text-center">Изменить</th>
                <th class="text-center">Удалить</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of stocks; let i=index">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{ stock.name}}</td>
                <td class="text-center">{{ stock.type}}</td>
                <td class="text-center">{{ stock.address}}</td>
                <td class="text-center">{{ stock.capacity}}</td>
                <td class="text-center"><a (click)="open_modal(template, stock.id)" class="btn"><img
                            src="https://image.flaticon.com/icons/svg/282/282091.svg" alt="edit"
                            style="width: 30px; height: 30px;"></a></td>
                <td class="text-center"><a (click)="delete_stock(stock.id)" class="btn"><img
                            src="https://image.flaticon.com/icons/svg/282/282080.svg" alt="delete"
                            style="width: 30px; height: 30px;"></a></td>
            </tr>
        </tbody>
    </table>
    <ng-template #template>

        <div class="modal-content">
            <div class="modal-header ">
                <h5>Редактирование</h5>
                <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="StockForm" type="form" class="form-group" novalidate>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label" for="name">Название</label>
                                <input formControlName="name" class="form-control name" 
                                [(ngModel)]="res.name" [value]="res.name" type="text" #name>
                            </div>
                            <!-- <div *ngFor="let validation of account_validation_messages.name">
                                            <div class="alert alert-danger" *ngIf="StockForm.get('name').hasError(validation.type) &&
                                                       (StockForm.get('name').dirty ||
                                                       StockForm.get('name').touched)">
                                                {{validation.message}}
                                            </div>
                                        </div> -->
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label" for="capacity">Вместимость</label>
                                <input formControlName="capacity" class="form-control capacity" 
                                [(ngModel)]="res.capacity" [value]="res.capacity" type="text" #capacity>
                            </div>
                            <!-- <div *ngFor="let validation of account_validation_messages.capacity">
                                            <div class="alert alert-danger" *ngIf="StockForm.get('capacity').hasError(validation.type) &&
                                                           (StockForm.get('capacity').dirty ||
                                                           StockForm.get('capacity').touched)">
                                                {{validation.message}}
                                            </div>
                                        </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label" for="type">Тип</label>
                                <select class="form-control" name="type" id="type" [(ngModel)]="type"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let type of types" [value]="type.name">
                                        {{type.name}}
                                    </option>
                                </select>
                            </div>
                            <!-- <div *ngIf="StockForm.controls['type'].invalid && (StockForm.controls['type'].dirty || StockForm.controls['type'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="StockForm.controls['type'].errors.required">
                                                        Заполните данное поле!
                                                    </div>
                                                </div> -->
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label" for="address">Адрес</label>
                                <input formControlName="address" class="form-control address" 
                                [(ngModel)]="res.address" [value]="res.address" type="text" #address>
                            </div>
                            <!-- <div *ngFor="let validation of account_validation_messages.address">
                                        <div class="alert alert-danger" *ngIf="StockForm.get('address').hasError(validation.type) &&
                                                                   (StockForm.get('address').dirty ||
                                                                   StockForm.get('address').touched)">
                                            {{validation.message}}
                                        </div>
                                    </div> -->
                        </div>
                    </div>

                    <div class="form-group justify-content-center align-items-center text-center">
                        <button (click)="add_stock(name.value, capacity.value, type, address.value)"
                            class="btn btn-primary">
                            Добавить
                        </button>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Отменить</button>
                <button type="button" class="btn btn-primary"
                    (click)="save(name,value, type, address.value, capacity.value, res.id)">Сохранить</button>
            </div>
        </div>

    </ng-template>
</div>