<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-image: url(assets/head.jpg)">
        <h1 class="display-3" style="color: aliceblue;">Добро пожаловать!</h1>
        <p class="lead" style="color: aliceblue;">Все, что нужно, в одной системе:</p>
        <p class="lead" style="color: aliceblue;">продажи, закупки, склады, клиенты и поставщики</p>
        <a href="auth" class="btn btn-light btn-lg">Начать использовать!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/407/407831.svg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Отгрузка</h4>
                    <p class="card-text">Заказы покупателей: обработка, статусы, резервирование товара.</p>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/407/407851.svg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Инвентаризация</h4>
                    <p class="card-text">Проведение полной или выборочной инвентаризации.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/407/407858.svg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Учёт</h4>
                    <p class="card-text"> Остатки: фактические и с учетом резерва и ожидания. Характеристики товара.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/407/407827.svg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Поставка</h4>
                    <p class="card-text">Ускоренное развитие процессов обработки товаров на складе.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
        
</div>
<!-- /.container -->